@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 5.625rem;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

:root {
  --Truffle-Trouble: #a35139;
  --Background: #f9f5ec;
  --Abysall-Anchorfish-Blue: #1c2632;
  --Palladian: #ede9de;
}

a {
  color: var(--Abysall-Anchorfish-Blue);
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Outfit", sans-serif;
}

/* [MOBILE] HEADER */

.header_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-header_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: var(--Background); */
  /* border-radius: 0rem 0rem 0.625rem 0.625rem; */

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 99;
}

.flex_content-header_mobile {
  width: 80%;

  z-index: 99;
}

.content-header_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.75rem 0rem;
  width: 100%;

  z-index: 99;
}

.logo-header_mobile img {
  width: auto;
  height: 2.8125rem;

  z-index: 99;
}

.btn_burger-header_mobile {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 70px;
  cursor: pointer;

  transform: scale(0.4);
  z-index: 100;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px !important;
  height: 3px !important;
  border-radius: 20px !important;
  background-color: var(--Abysall-Anchorfish-Blue) !important;
}

.trait-header_mobile {
  width: 90%;
  height: 1px;
  background-color: var(--Abysall-Anchorfish-Blue);

  z-index: 99;
}

.menu-header_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 4.6875rem;
  left: 0;

  z-index: 99;
  width: 100%;
}

.menu_content-header_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;

  list-style: none;

  z-index: 99;
}

.menu_content-header_mobile li {
  display: flex;
  align-items: end;
  gap: 0.3125rem;

  font-weight: 500;
  font-size: 1.0625rem;

  z-index: 99;
}

.btn_li-header_mobile a {
  font-weight: 700;
  font-size: 1.0625rem;

  z-index: 99;
}

.background-header_mobile {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--Background);
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  width: 100%;
  height: 4.75rem;

  z-index: 95;
}

/* [DESKTOP] HEADER */

.header_desktop {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-header_desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--Background);
  border-radius: 0rem 0rem 0.625rem 0.625rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  z-index: 100;
}

.flex_content-header_desktop {
  width: 90%;
}

.content-header_desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1.5rem;
  width: 100%;
}

.menu_content-header_desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;

  list-style: none;
}

.btn_li-header_desktop {
  color: var(--Abysall-Anchorfish-Blue);
}

.btn_li-header_desktop:hover {
  color: var(--Truffle-Trouble);
  transition: all 0.3s ease-in-out;
}

.social_media_content-header_desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.social_media_content-header_desktop a:hover svg {
  stroke: var(--Truffle-Trouble);
  transition: all 0.3s ease-in-out;
}

.header_active {
  color: var(--Truffle-Trouble);
}

/* INDEX.HTML */

/* [accueil_index] */

main {
  background-color: var(--Background);
}

.section-accueil_index {
  display: flex;
  justify-content: center;
  align-items: start;

  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #ede9de 10.22%, #f9f5ec 100%);
}

.video-accueil_index {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 4.75rem;
  height: 100vh;
  width: 100%;
}

.video_content-accueil_index {
  position: relative;
  border-radius: 0.625rem;

  width: 90%;
  height: 90%;
}

.gradient_video_wrapper-accueil_index {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    180deg,
    rgba(237, 233, 222, 0) 2.2%,
    rgba(237, 233, 222, 0.95) 88.12%
  );

  width: 100%;
  height: 100%;

  border-radius: 0.625rem;
}

.video_wrapper-accueil_index {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}

.video_wrapper-accueil_index iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}

.content-accueil_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Pour centrer le contenu dans la boîte */
  gap: 1.25rem;

  transition: all 0.3s ease-in-out;
  z-index: 5;

  position: absolute;
  bottom: 40px;
  left: 50%; /* Centre horizontalement par rapport au parent */
  transform: translateX(-50%); /* Ajuste pour centrer précisément */

  width: 90%;
}

.informations-accueil_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.date-accueil_index {
  display: flex;
  padding: 0.625rem 2.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Truffle-Trouble);
}

.date-accueil_index p {
  color: var(--Truffle-Trouble);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title-accueil_index {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.title-accueil_index p {
  font-family: "Bricolage Grotesque";
  font-weight: 800;
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 3.125rem;
  font-style: normal;

  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.description-accueil_index {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.description-accueil_index p {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 1.1875rem;
  font-weight: 300;

  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.btn_discover {
  display: flex;
  justify-content: start;
  align-items: center;

  width: 100%;
  margin: 0 auto;

  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.btn_discover a {
  text-align: center;
  width: 12.8125rem;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 0.625rem;
  padding: 0.625rem 3.125rem;

  background: var(--Truffle-Trouble);
  color: var(--Palladian);

  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.btn_discover a:hover {
  background: var(--Palladian);
  color: var(--Truffle-Trouble);
  transition: all 0.3s ease-in-out;
}

/* [INFOS_CONCOURS] */

.flex-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;

  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.date-infos_concours_index {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
}

.date-infos_concours_index i {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 1.0625rem;
}

.date-infos_concours_index p {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.9375rem;
  font-weight: 300;
}

.compteur-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
}

.compteur-infos_concours_index p {
  color: var(--Abysall-Anchorfish-Blue);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.content_compteur-infos_concours_index {
  border-radius: 1.375rem;
  background: var(--Abysall-Anchorfish-Blue);
  padding: 0.3125rem 0;
  width: 100%;
  max-width: 700px;
}

.content_compteur-infos_concours_index p {
  color: var(--Palladian);
  text-align: center;
  font-family: Poppins;
  font-size: 2.1875rem;
  font-weight: 800;
  padding: 0 0.625rem;
}

.text-contraintes-infos_concours_index {
  width: 100%;
}

.text-contraintes-infos_concours_index p {
  color: var(--Abysall-Anchorfish-Blue, #2c1a17);
  text-align: center;
  font-family: Poppins;
  font-size: 0.9375rem;
  font-weight: 300;
}

.text-contraintes-infos_concours_index a {
  font-weight: 600;
}

/* Annonce des contraintes */

.contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  width: 100%;
  background: var(--Abysall-Anchorfish-Blue);
  border-radius: 1.25rem;
  padding: 1.875rem;
}

.compteur_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compteur_contraintes-infos_concours_index p {
  color: var(--Palladian);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.content_compteur_contraintes-infos_concours_index p {
  color: var(--Palladian);
  text-align: center;
  font-size: 2.1875rem;
  font-weight: 800;
}

.separation_contraintes-infos_concours_index {
  width: 40%;
  height: 1px;
  background-color: var(--Palladian);
}

.flex_content_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.875rem;

  width: 100%;
}

.flextop_content_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.625rem;

  width: 100%;
}

.title_content_contraintes-infos_concours_index {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
}

.title_content_contraintes-infos_concours_index p {
  color: var(--Palladian);
  font-size: 0.9375rem;
  font-weight: 400;
}

.title_content_contraintes-infos_concours_index i {
  color: var(--Palladian);
  font-size: 1.0625rem;
}

.list_content_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.625rem;

  width: 100%;
}

.list_content_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.625rem;

  list-style: none;

  width: 100%;
  margin-left: 1.25rem;
}

.list_content_contraintes-infos_concours_index li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.625rem;

  width: 100%;
}

.title_list_content_contraintes-infos_concours_index {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3125rem;

  width: 100%;
}

.title_list_content_contraintes-infos_concours_index i {
  color: var(--Palladian);
  font-size: 1.0625rem;
}

.title_list_content_contraintes-infos_concours_index p {
  color: var(--Palladian);
  font-size: 0.9375rem;
  font-weight: 600;
}

.content_list_content_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: column;

  width: 100%;
}

.content_list_content_contraintes-infos_concours_index audio {
  width: 100%;
}

.content_list_content_contraintes-infos_concours_index p {
  color: var(--Palladian);
  font-size: 0.9375rem;
  font-weight: 400;
}

.content_list_content_contraintes-infos_concours_index a {
  color: var(--Palladian);
  text-decoration: underline;
  font-size: 0.9375rem;
  font-weight: 400;
}

.flexbottom_content_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.625rem;

  width: 100%;
}

.video_content_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
}

.video_content_contraintes-infos_concours_index iframe {
  width: 100%;
  height: 18.75rem;
  border-radius: 2.25rem;
}

.video_content_contraintes-infos_concours_index a {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.8125rem;
  font-weight: 800;

  background-color: var(--Palladian);
  padding: 0.625rem 1.25rem;
  border-radius: 1.25rem;
}

/* Upload court-métrage */

.flex_form_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 100%;
}

.title_form_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.title_form_contraintes-infos_concours_index p {
  color: var(--Palladian);
  font-size: 0.9375rem;
  font-weight: 400;
  text-align: center;
}

.content_form_contraintes-infos_concours_index {
  width: 100%;
}

.content_form_contraintes-infos_concours_index form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  width: 100%;
  margin: 0 auto;
}

.inputs_text_form_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;

  width: 100%;
}

.input_text_form_contraintes-infos_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.3125rem;

  width: 100%;
}

.input_text_form_contraintes-infos_concours_index label {
  color: var(--Palladian);
  font-size: 0.9375rem;
  font-weight: 400;
}

.input_text_form_contraintes-infos_concours_index input {
  font-family: Poppins;
  width: 100%;
  border-radius: 1.25rem;
  border: 1px solid var(--Abysall-Anchorfish-Blue);
  padding: 0.4375rem 1.25rem;
  background: var(--Palladian);
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.9375rem;
  font-weight: 400;
}

.input_checkbox_form_contraintes-infos_concours_index {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
}

.input_checkbox_form_contraintes-infos_concours_index label {
  color: var(--Palladian);
  font-size: 0.9375rem;
  font-weight: 400;
}

.input_checkbox_form_contraintes-infos_concours_index input {
  border-radius: 1.25rem;
  border: 1px solid var(--Abysall-Anchorfish-Blue);
  padding: 0 0.625rem;
  background: var(--Palladian);
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.9375rem;
  font-weight: 400;
}

/* --- */

.btn_all {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15.625rem;
}

.btn_all a,
.btn_all input {
  font-weight: 500;
  text-align: center;
  border-radius: 0.625rem;
  padding: 0.625rem 3.125rem;

  background: var(--Truffle-Trouble);
  color: var(--Palladian);
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;

  width: 15.625rem;
}

.btn_all a:hover {
  background: transparent;
  border: 1px solid var(--Truffle-Trouble);
  color: var(--Truffle-Trouble);
}

.btn_all input {
  cursor: pointer;
}

.btn_all input:hover {
  background: transparent;
  border: 1px solid var(--Truffle-Trouble);
  color: var(--Truffle-Trouble);
}

/* --- */

.separation-main_index {
  width: 90%;
  height: 1px;
  background-color: var(--Abysall-Anchorfish-Blue);
  margin: 3.125rem auto;
  max-width: 1200px;
}

/* [AVANTAGES CONCOURS] */

.flex-avantages_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

.flex_content-avantages_concours_index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}

.flexleft-avantages_concours_index {
  display: none;
  width: 30%;
  max-width: 170px;
}

.illustration-avantages_concours_index img {
  width: 100%;
  height: auto;
}

.flexright-avantages_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  width: 100%;
}

.title-avantages_concours_index {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
}

.title-avantages_concours_index svg {
  width: 1.75rem;
  height: 1.75rem;
}

.title_content-avantages_concours_index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 0.625rem;

  width: 100%;
}

.title_content-avantages_concours_index p {
  color: var(--Abysall-Anchorfish-Blue);
  font-family: "Bricolage Grotesque";
  font-size: 1.75rem;
  font-weight: 800;
}

.title_content-avantages_concours_index div {
  height: 1.5px;
  border-radius: 50%;
  background: var(--Truffle-Trouble);
  flex-grow: 1; /* Fait s'étendre la ligne pour remplir l'espace disponible */
}

.container-avantages_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  width: 100%;
}

.item-avantages_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.3125rem;

  padding: 1.25rem 1.875rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Truffle-Trouble);

  width: 100%;
}

.title_item-avantages_concours_index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title_item-avantages_concours_index p {
  color: var(--Truffle-Trouble);
  font-family: "Bricolage Grotesque";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.title_item-avantages_concours_index svg {
  color: var(--Truffle-Trouble);
  width: 1.5rem;
  height: 1.5rem;
}

.content_item-avantages_concours_index {
  display: flex;
  justify-content: start;
}

.content_item-avantages_concours_index p {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* [DERNIÈRE ÉDITION CONCOURS] */

.flex-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

.flex_content-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 100%;
}

.title-derniere_edition_concours_index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  width: 100%;
}

.title-derniere_edition_concours_index svg {
  width: 1.75rem;
  height: 1.75rem;
}

.title-derniere_edition_concours_index p {
  color: var(--Abysall-Anchorfish-Blue);
  font-family: "Bricolage Grotesque";
  font-size: 1.75rem;
  font-weight: 800;
}

.description-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.625rem;

  width: 100%;
}

.description-derniere_edition_concours_index p,
.description-derniere_edition_concours_index li {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 143.646%;
}

.description-derniere_edition_concours_index ul {
  margin-left: 1.25rem;
}

.description-derniere_edition_concours_index span {
  font-weight: 600;
}

.container_winner-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  width: 100%;
}

.item_winner-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--Truffle-Trouble);
  border-radius: 0.625rem;

  width: 100%;
}

.winner-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5625rem;

  padding: 2.13rem 2.5rem;
}

.content_winner-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 0.625rem;
}

.title_winner-derniere_edition_concours_index {
  display: flex;
  justify-content: start;
  align-items: center;
}

.title_winner-derniere_edition_concours_index p {
  color: var(--Truffle-Trouble);
  font-family: "Bricolage Grotesque";
  font-size: 1.75rem;
  font-weight: 800;
}

.description_winner-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.3125rem;
}

.description_item_winner-derniere_edition_concours_index {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.description_item_winner-derniere_edition_concours_index svg {
  width: 1.125rem;
  height: 1.125rem;
}

.description_item_winner-derniere_edition_concours_index p {
  color: var(--Truffle-Trouble);
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.team_winner-derniere_edition_concours_index p {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.team_winner-derniere_edition_concours_index span {
  font-weight: 600;
}

.video_winner-derniere_edition_concours_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.video_winner-derniere_edition_concours_index iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.625rem;
}

.video_winner-derniere_edition_concours_index a {
  color: #f9eddd80;
  font-size: 0.8125rem;
  font-weight: 300;
  text-decoration: underline;
}

/* ------------------------ */

/* LE_CONCOURS.PHP */

/* [TITRE DE LA PAGE] */

.title_section-main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.content_title_section-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  z-index: 5;
}

.content_title_section-main i {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 2.1875rem;

  z-index: 5;
}

.content_title_section-main p {
  color: var(--Abysall-Anchorfish-Blue);
  text-align: center;
  font-size: 1.875rem;
  font-weight: 500;

  z-index: 5;
}

.background_title-main {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;

  z-index: 4;
}

.background_title-main p {
  white-space: nowrap;
  color: rgba(44, 26, 23, 0.1);
  text-align: center;
  font-size: 11vw;
  font-weight: 900;

  z-index: 4;
}

/* --- */

.separation-main {
  width: 40%;
  height: 1px;
  background-color: var(--Abysall-Anchorfish-Blue);
  margin: 3.125rem auto;
  max-width: 1200px;
}

.container_articles-le_concours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.item_article-le_concours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}

.illustration_article-le_concours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;

  width: 100%;
}

.illustration_article-le_concours img {
  width: 100%;
  height: 18.75rem;
  border-radius: 1.25rem;
  object-fit: cover;
}

.illustration_article-le_concours p {
  color: rgba(44, 26, 23, 0.5);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 400;
}

.content_article-le_concours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.3125rem;

  width: 100%;
}

.content_article-le_concours p:nth-child(1) {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 1.0625rem;
  font-weight: 600;
}

.content_article-le_concours p:nth-child(2) {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.9375rem;
  font-weight: 400;
}

.inscription-le_concours {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex_inscription-le_concours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.title_inscription-le_concours p {
  color: var(--Abysall-Anchorfish-Blue);
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 600;
}

/* LE_REGLEMENT.PHP */

.container_articles-le_reglement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.25rem;

  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.item_article-le_reglement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.item_article-le_reglement p {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.9375rem;
  font-weight: 400;
}

.item_article-le_reglement a {
  font-weight: 600;
  text-decoration: underline;
}

.item_article-le_reglement ul {
  margin-left: 3.125rem;
}

.item_article-le_reglement li {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.9375rem;
  font-weight: 400;
}

.item_article-le_reglement > p:nth-child(1) {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 1.0625rem;
  font-weight: 600;
}

/* LES_EDTIONS.PHP */

.editions_section-les_editions {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 100%;
}

.flex_content-les_editions {
  width: 100%;
}

.flextop-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  border-radius: 2.1875rem 2.1875rem 0 0;
  background: var(--Abysall-Anchorfish-Blue);
  padding: 1.875rem;

  width: 100%;
}

.title_edition-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.title_edition-les_editions > p {
  color: var(--Palladian);
  text-align: center;
  font-size: 2.1875rem;
  font-weight: 800;
}

.date_title_edition-les_editions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.date_title_edition-les_editions i {
  color: var(--Palladian);
  font-size: 1.0625rem;
}

.date_title_edition-les_editions p {
  color: var(--Palladian);
  font-size: 0.9375rem;
  font-weight: 400;
}

.container_articles-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 100%;
}

.item_article-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.9375rem;

  width: 100%;
}

.text_article-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.625rem;

  width: 100%;
}

.title_article-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.3125rem;

  width: 100%;
}

.title_article-les_editions p {
  color: var(--Palladian, #f9eddd);
  font-size: 0.8125rem;
  font-weight: 300;
}

.content_title_article-les_editions {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
}

.content_title_article-les_editions i {
  color: var(--Palladian);
  font-size: 1.0625rem;
}

.content_title_article-les_editions p {
  color: var(--Palladian);
  font-size: 0.9375rem;
  font-weight: 400;
}

.video_article-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
}

.video_article-les_editions iframe {
  width: 100%;
  height: 18.75rem;
  border-radius: 2.25rem;
}

.video_article-les_editions a {
  color: #f9eddd80;
  font-size: 0.8125rem;
  font-weight: 300;
  text-decoration: underline;
}

.flexbottom-les_editions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  border-radius: 0 0 2.1875rem 2.1875rem;
  background: #2c1a17a1;
  padding: 1.875rem;

  width: 100%;
}

.title_others-les_editions p {
  color: var(--Palladian);
  text-align: center;
  font-family: Poppins;
  font-size: 1.0625rem;
  font-weight: 800;
}

/* PARTICIPER.PHP */

.participation_section-participer {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex-participer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 100%;
}

.title_form-participer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title_form-participer h1 {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 1.75rem;
  font-weight: 800;
}

.title_form-participer p {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.9375rem;
  font-weight: 400;
}

.title_form-participer a {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 0.9375rem;
  font-weight: 600;
  text-decoration: underline;
}

.content_form-participer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;

  width: 100%;
}

.content_form-participer iframe {
  width: 100%;
  height: 46.875rem;
}

.content_form-participer a {
  color: #2c1a177c;
  font-size: 0.8125rem;
  font-weight: 300;
  text-decoration: underline;
}

/* CONFIRMATION.PHP */

.flex-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  margin: 0 auto;
  height: calc(100vh - 24.375rem);
}

.flex_content-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex_content-confirmation i {
  color: var(--Abysall-Anchorfish-Blue);
  font-size: 4.125rem;
}

.flex_content-confirmation p {
  color: var(--Abysall-Anchorfish-Blue);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

/* [FOOTER] */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  width: 100%;
  background-color: var(--Abysall-Anchorfish-Blue);
  padding: 1.25rem 1.875rem;
}

.flextop-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex_content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
}

.logo-footer img {
  width: auto;
  height: 3.125rem;
}

.content_text-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}

.content_text-footer p,
.content_text-footer a {
  color: var(--Palladian);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 400;

  transition: all 0.3s ease-in-out;
}

.content_text-footer a:hover {
  color: var(--Truffle-Trouble);
}

.flexbottom-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbottom-footer p {
  color: var(--Palladian);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 500;
}

.flexbottom-footer a {
  color: var(--Palladian);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 700;

  transition: all 0.3s ease-in-out;
}

.flexbottom-footer a:hover {
  color: var(--Truffle-Trouble);
}

/* CLASSLIST */

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}
